html body {
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 h2 h3 h4 h5 h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* uncomment div for adusting look 
div {
    border: solid 1px;
    padding: 10px;
}*/
#page-content {
    flex: 1 0 auto;
}
#sticky-footer {
    flex-shrink: none;
}
.footer {
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    border-top: 2px solid;
    left: 0;
    bottom: 0;
}
.nameplate {
    background-color: orange;
    color: teal;
    font-size: xx-large;
    font-weight: bolder;
}
.mytab {
    /* border-left: solid 1px red; */
}